*.pyc
local
.env
/conf/crontab
/conf/crontab.deployed
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/conf/logrotate
/conf/logrotate.deployed
/conf/council-*
!/conf/council-*-example
/t/open311/test.log
/web/down.html
.DS_Store
